svg#love-hate-icons {
    margin: 0px auto;
}

#svg-container {
    position: absolute;
    left: 0;    
    width: 100%;
}

svg#love-hate-chart {
    position: relative;
    z-index: 1;
}

#love-hate-chart text.love-text.title{
    font-size: 14pt;    
    fill: #ea8490;
}

#love-hate-chart text.hate-text.title {
    font-size: 14pt;    
    fill: rgb(161, 118, 196);
}

svg#love-hate-chart, svg#love-hate-icons{
    display: block;
    border: none;
    margin: 0px auto;
}

#svg-like-hate>g{
   opacity: 0.1;
   visibility: hidden;
}

#love-hate-chart rect.love-item {
    fill: #f09ea8;
}

#love-hate-chart rect.hate-item {
    fill: hsl(273, 30%, 72%);
}

#love-hate-chart rect.hate-item.hate-parent {
    fill: transparent;
    fill: hsl(273, 30%, 72%);
    stroke-width: 2;
}

#love-hate-chart rect.love-item.love-parent {
    fill: transparent;
    fill: hsl(353, 73%, 78%);
    stroke-width: 2;
}

#love-hate-chart line.vertical-line {
    stroke: hsl(20, 78%, 83%);
}

#love-hate-chart text.hate-text {
    fill: rgb(161, 118, 196);
}

#love-hate-chart text {
    font-size: 10pt;
    fill: #7B7B7B;
    font-family: Play;
}

#love-hate-chart text.love-text {
    fill: #ea8490;
}